mixin make_post_info(item)
  mixin with_icon(icon)
    span.info
      if theme.style.post_meta.show_icon
        i(class="fa " + icon)
        span &nbsp;
      block
      span &nbsp;&nbsp;
  +with_icon("fa-calendar")
    span.date= date(item.date, theme.style.post_meta.date_format)
  if item.categories
    each cat in item.categories.data
      +with_icon("fa-folder")
        a.tag(href=url_for(cat.path), title=cat.name)= cat.name
  if item.tags
    each tag in item.tags.data
      +with_icon("fa-tag")
        a.tag(href=url_for(tag.path), title=tag.name)= tag.name

mixin make_post_full(item)
  .post-container.post-full
    .post-title
      h1= item.title

    if item.toc && theme.toc_max_depth > 0
      .post-toc
        details.ltr(open)
          summary= __("TOC")
          .toc!= toc(item.content, { class: "toclist", list_number: false, max_depth: theme.toc_max_depth })

    .post-body!= item.content
    .post-meta
      +make_post_info(item)

mixin make_post_excerpt(item)
  .post-container.post-excerpt
    .post-title
      h3: a(href=url_for(item.path))= item.title
    .post-meta
      +make_post_info(item)
    - var excerpt = theme.style.post_excerpt.summary_mode ? item.summary || truncate(strip_html(item.excerpt || item.content), { length: 160 }) : item.excerpt || item.summary || item.content;
    .post-body!= excerpt

mixin make_pager
  - var prev = page.prev_link;
  - var next = page.next_link;
  p.pagination
    if page.prev
      a.btn(role="navigation", href=url_for(prev))= __("prev")
    if page.prev && page.next
      span &nbsp;&nbsp;
    if page.next
      a.btn(role="navigation", href=url_for(next))= __("next")

mixin make_post_list
  .archive
    - var year = 0;
    - var change = false;
    each item in page.posts.data
      - var itemYear = date(item.date, "YYYY") - 0;
      - change = year !== itemYear;
      - year = change ? itemYear : year;
      if change
        h2!= year

      p.listing-item
        .listing-post
          span.date= date(item.date, "MM-DD ")
          a(href=url_for(item.path), title=item.title)= item.title
