extends main

include mixins

block site_title
  != page.title + " · " + config.title

block description
  - var desc = page.desc || strip_html(page.content).replace(/^\s*/, "").replace(/\s*$/, "").substring(0, 150);
  meta(name="description", content=desc)

block content
  .content: .post-page
    include mixins
    +make_post_full(page)
    - var prev = page.prev ? page.prev.path : false;
    - var next = page.next ? page.next.path : false;
    p.pagination
      if prev
        a.btn(role="navigation", href=url_for(prev), title=page.prev.title)!= __("prev_post")
      if prev && next
        span &nbsp;&nbsp;
      if next
        a.btn(role="navigation", href=url_for(next), title=page.next.title)!= __("next_post")
