extends main

block site_title
  != __("Tags") + " · " + config.title

block description
  - var desc = page.desc || strip_html(page.content).replace(/^\s*/, "").replace(/\s*$/, "").substring(0, 150);
  meta(name="description", content=desc)

block content
  .content
    .archive
      h1= __("Tags")
      - let last_cat = "";
      - const sorted_tags = site.tags.data.sort((a, b) => (a.name < b.name ? -1 : 1));
      - const in_cat = (tag) => (/^[0-9]/.test(tag.name) ? "0-9" : /^[a-zA-Z]/.test(tag.name) ? tag.name[0].toUpperCase() : "#");
      - const tags = {};
      each tag in sorted_tags
        if last_cat != in_cat(tag)
          - last_cat = in_cat(tag);
          h3!= in_cat(tag)
        span
          a(href=url_for(tag.path))!= tag.name
          span &nbsp;×&nbsp;
          span!= tag.length
          span &nbsp;&nbsp;&nbsp;
