meta(charset="utf-8")
meta(name="X-UA-Compatible", content="IE=edge")
meta(name="author", content=theme.author)
title
  block site_title
    = config.title
block description
  meta(name="description", content=theme.description ? theme.description : "A Blog Powered By Hexo")

if page.keywords
  meta(name="keywords", content=page.keywords)
else
  meta(name="keywords", content=theme.keywords)

meta(content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0", name="viewport")
meta(name="mobile-web-app-capable", content="yes")
meta(content="black", name="apple-mobile-web-app-status-bar-style")
meta(content="telephone=no", name="format-detection")

meta#site_data_static(data-url=url_for("/"))

meta(name="renderer", content="webkit")
link(rel="shortcut icon", type="image/x-icon", href=url_for(theme.favicon))

link(rel="stylesheet", href=url_for("js_complied/bundle.css"))
link(rel="stylesheet", href=url_for("css/font-awesome.min.css"))
link(rel="alternate", type="application/atom+xml", title="ATOM 1.0", href="/atom.xml")

link(rel="preconnect", href="https://fonts.googleapis.com")
link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
link(
  rel="stylesheet",
  href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&family=Noto+Serif+KR:wght@200..900&family=Noto+Serif+SC:wght@200..900&family=Noto+Serif+TC:wght@200..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap"
)

link(
  rel="stylesheet",
  href="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.css",
  integrity="sha384-nB0miv6/jRmo5UMMR1wu3Gz6NLsoTkbqJghGIsx//Rlm+ZU03BU6SQNC66uf4l5+",
  crossorigin="anonymous"
)

script(src=url_for("js_complied/bundle.js"))
